@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor-none {
    overflow-anchor: none;
}

::selection {
    @apply bg-yellow-300;
}

body {
    -webkit-tap-highlight-color: transparent;
}

.no-long-press {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}
